# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_why_LEFT
    def_bool $(shields_list_contains,why_left)

config SHIELD_why_RIGHT
    def_bool $(shields_list_contains,why_right)
